openapi: 3.0.3
info:
  title: Authzed SpiceDB Permissions API
  description: SpiceDB Permissions API — gRPC and HTTP/JSON interfaces for writing
    schemas, managing relationship tuples, and executing permission checks using a
    Zanzibar-inspired graph model. Supports CheckPermission, LookupResources, LookupSubjects,
    WriteRelationships, ReadRelationships, DeleteRelationships, WriteSchema, ReadSchema,
    and streaming Watch operations.
  version: '1.0'
  contact:
    name: Authzed, Inc.
    url: https://github.com/authzed/api
    email: support@authzed.com
  license:
    name: Apache 2.0 License
    url: https://github.com/authzed/api/blob/main/LICENSE
servers:
- url: https://grpc.authzed.com
  description: Authzed Cloud primary endpoint
- url: https://app.authzed.com
  description: Authzed Cloud management endpoint
security:
- BearerAuth: []
tags:
- name: Permissions
  description: Check, expand, and lookup permissions on resources and subjects
- name: Relationships
  description: Read, write, delete, and bulk import/export relationship tuples
- name: Schema
  description: Manage SpiceDB schema definitions, diff schemas, and reflect schema
    metadata
- name: Watch
  description: Stream real-time relationship change updates
- name: Experimental
  description: Experimental and preview endpoints subject to change
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'SpiceDB preshared-key. Pass as Authorization: Bearer <preshared-key>'
  schemas:
    AlgebraicSubjectSet:
      type: object
      properties:
        operation:
          $ref: '#/components/schemas/AlgebraicSubjectSet.Operation'
        children:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/PermissionRelationshipTree'
      description: 'AlgebraicSubjectSet is a subject set which is computed based on
        applying the

        specified operation to the operands according to the algebra of sets.


        UNION is a logical set containing the subject members from all operands.


        INTERSECTION is a logical set containing only the subject members which are

        present in all operands.


        EXCLUSION is a logical set containing only the subject members which are

        present in the first operand, and none of the other operands.'
    AlgebraicSubjectSet.Operation:
      type: string
      enum:
      - OPERATION_UNSPECIFIED
      - OPERATION_UNION
      - OPERATION_INTERSECTION
      - OPERATION_EXCLUSION
      default: OPERATION_UNSPECIFIED
    Any:
      type: object
      properties:
        '@type':
          type: string
          description: "A URL/resource name that uniquely identifies the type of the\
            \ serialized\nprotocol buffer message. This string must contain at least\n\
            one \"/\" character. The last segment of the URL's path must represent\n\
            the fully qualified name of the type (as in\n`path/google.protobuf.Duration`).\
            \ The name should be in a canonical form\n(e.g., leading \".\" is not\
            \ accepted).\n\nIn practice, teams usually precompile into the binary\
            \ all types that they\nexpect it to use in the context of Any. However,\
            \ for URLs which use the\nscheme `http`, `https`, or no scheme, one can\
            \ optionally set up a type\nserver that maps type URLs to message definitions\
            \ as follows:\n\n* If no scheme is provided, `https` is assumed.\n* An\
            \ HTTP GET on the URL must yield a [google.protobuf.Type][]\n  value in\
            \ binary format, or produce an error.\n* Applications are allowed to cache\
            \ lookup results based on the\n  URL, or have them precompiled into a\
            \ binary to avoid any\n  lookup. Therefore, binary compatibility needs\
            \ to be preserved\n  on changes to types. (Use versioned type names to\
            \ manage\n  breaking changes.)\n\nNote: this functionality is not currently\
            \ available in the official\nprotobuf release, and it is not used for\
            \ type URLs beginning with\ntype.googleapis.com. As of May 2023, there\
            \ are no widely used type server\nimplementations and no plans to implement\
            \ one.\n\nSchemes other than `http`, `https` (or the empty scheme) might\
            \ be\nused with implementation specific semantics."
      additionalProperties: {}
      description: "`Any` contains an arbitrary serialized protocol buffer message\
        \ along with a\nURL that describes the type of the serialized message.\n\n\
        Protobuf library provides support to pack/unpack Any values in the form\n\
        of utility functions or additional generated methods of the Any type.\n\n\
        Example 1: Pack and unpack a message in C++.\n\n    Foo foo = ...;\n    Any\
        \ any;\n    any.PackFrom(foo);\n    ...\n    if (any.UnpackTo(&foo)) {\n \
        \     ...\n    }\n\nExample 2: Pack and unpack a message in Java.\n\n    Foo\
        \ foo = ...;\n    Any any = Any.pack(foo);\n    ...\n    if (any.is(Foo.class))\
        \ {\n      foo = any.unpack(Foo.class);\n    }\n    // or ...\n    if (any.isSameTypeAs(Foo.getDefaultInstance()))\
        \ {\n      foo = any.unpack(Foo.getDefaultInstance());\n    }\n\n Example\
        \ 3: Pack and unpack a message in Python.\n\n    foo = Foo(...)\n    any =\
        \ Any()\n    any.Pack(foo)\n    ...\n    if any.Is(Foo.DESCRIPTOR):\n    \
        \  any.Unpack(foo)\n      ...\n\n Example 4: Pack and unpack a message in\
        \ Go\n\n     foo := &pb.Foo{...}\n     any, err := anypb.New(foo)\n     if\
        \ err != nil {\n       ...\n     }\n     ...\n     foo := &pb.Foo{}\n    \
        \ if err := any.UnmarshalTo(foo); err != nil {\n       ...\n     }\n\nThe\
        \ pack methods provided by protobuf library will by default use\n'type.googleapis.com/full.type.name'\
        \ as the type URL and the unpack\nmethods only use the fully qualified type\
        \ name after the last '/'\nin the type URL, for example \"foo.bar.com/x/y.z\"\
        \ will yield type\nname \"y.z\".\n\nJSON\n====\nThe JSON representation of\
        \ an `Any` value uses the regular\nrepresentation of the deserialized, embedded\
        \ message, with an\nadditional field `@type` which contains the type URL.\
        \ Example:\n\n    package google.profile;\n    message Person {\n      string\
        \ first_name = 1;\n      string last_name = 2;\n    }\n\n    {\n      \"@type\"\
        : \"type.googleapis.com/google.profile.Person\",\n      \"firstName\": <string>,\n\
        \      \"lastName\": <string>\n    }\n\nIf the embedded message type is well-known\
        \ and has a custom JSON\nrepresentation, that representation will be embedded\
        \ adding a field\n`value` which holds the custom JSON in addition to the `@type`\n\
        field. Example (for message [google.protobuf.Duration][]):\n\n    {\n    \
        \  \"@type\": \"type.googleapis.com/google.protobuf.Duration\",\n      \"\
        value\": \"1.212s\"\n    }"
    BreakingSchemaChange:
      type: object
      properties:
        changeAt:
          $ref: '#/components/schemas/ZedToken'
          description: change_at is the revision at which a breaking schema event
            has happened.
        affectedPermissions:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/WatchedPermission'
          description: affected_permissions lists all the watched permissions that
            were directly affected by the breaking schema change.
      description: 'BreakingSchemaChange is used to signal a breaking schema change
        has happened, and that the consumer should

        expect delays in the ingestion of new changes, because the permission set
        snapshot needs to be rebuilt from scratch.

        Once the snapshot is ready, the consumer will receive a LookupPermissionSetsRequired
        event.'
    BulkCheckPermissionPair:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/BulkCheckPermissionRequestItem'
        item:
          $ref: '#/components/schemas/BulkCheckPermissionResponseItem'
        error:
          $ref: '#/components/schemas/Status'
    BulkCheckPermissionRequest:
      type: object
      properties:
        consistency:
          $ref: '#/components/schemas/Consistency'
        items:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/BulkCheckPermissionRequestItem'
      description: 'NOTE: Deprecated now that BulkCheckPermission has been promoted
        to the stable API as "CheckBulkPermission".'
    BulkCheckPermissionRequestItem:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ObjectReference'
        permission:
          type: string
        subject:
          $ref: '#/components/schemas/SubjectReference'
        context:
          type: object
    BulkCheckPermissionResponse:
      type: object
      properties:
        checkedAt:
          $ref: '#/components/schemas/ZedToken'
        pairs:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/BulkCheckPermissionPair'
    BulkCheckPermissionResponseItem:
      type: object
      properties:
        permissionship:
          $ref: '#/components/schemas/CheckPermissionResponse.Permissionship'
        partialCaveatInfo:
          $ref: '#/components/schemas/PartialCaveatInfo'
    BulkExportRelationshipsRequest:
      type: object
      properties:
        consistency:
          $ref: '#/components/schemas/Consistency'
        optionalLimit:
          type: integer
          format: int64
          description: 'optional_limit, if non-zero, specifies the limit on the number
            of

            relationships the server can return in one page. By default, the server

            will pick a page size, and the server is free to choose a smaller size

            at will.'
        optionalCursor:
          $ref: '#/components/schemas/v1.Cursor'
          description: 'optional_cursor, if specified, indicates the cursor after
            which results

            should resume being returned. The cursor can be found on the

            BulkExportRelationshipsResponse object.'
        optionalRelationshipFilter:
          $ref: '#/components/schemas/RelationshipFilter'
          description: 'optional_relationship_filter, if specified, indicates the

            filter to apply to each relationship to be exported.'
      description: 'BulkExportRelationshipsRequest represents a resumable request
        for

        all relationships from the server.'
    BulkExportRelationshipsResponse:
      type: object
      properties:
        afterResultCursor:
          $ref: '#/components/schemas/v1.Cursor'
        relationships:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/Relationship'
      description: 'BulkExportRelationshipsResponse is one page in a stream of relationship

        groups that meet the criteria specified by the originating request. The

        server will continue to stream back relationship groups as quickly as it can

        until all relationships have been transmitted back.'
    BulkImportRelationshipsRequest:
      type: object
      properties:
        relationships:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/Relationship'
      description: 'BulkImportRelationshipsRequest represents one batch of the streaming

        BulkImportRelationships API. The maximum size is only limited by the backing

        datastore, and optimal size should be determined by the calling client

        experimentally. When BulkImport is invoked and receives its first request
        message,

        a transaction is opened to import the relationships. All requests sent to
        the same

        invocation are executed under this single transaction. If a relationship already

        exists within the datastore, the entire transaction will fail with an error.'
    BulkImportRelationshipsResponse:
      type: object
      properties:
        numLoaded:
          type: string
          format: uint64
      description: 'BulkImportRelationshipsResponse is returned on successful completion
        of the

        bulk load stream, and contains the total number of relationships loaded.'
    CaveatEvalInfo:
      type: object
      properties:
        expression:
          type: string
          description: expression is the expression that was evaluated.
        result:
          $ref: '#/components/schemas/Result'
          description: result is the result of the evaluation.
        context:
          type: object
          description: context consists of any named values that were used for evaluating
            the caveat expression.
        partialCaveatInfo:
          $ref: '#/components/schemas/PartialCaveatInfo'
          description: partial_caveat_info holds information of a partially-evaluated
            caveated response, if applicable.
        caveatName:
          type: string
          description: caveat_name is the name of the caveat that was executed, if
            applicable.
      description: CaveatEvalInfo holds information about a caveat expression that
        was evaluated.
    CheckBulkPermissionsPair:
      type: object
      properties:
        request:
          $ref: '#/components/schemas/CheckBulkPermissionsRequestItem'
        item:
          $ref: '#/components/schemas/CheckBulkPermissionsResponseItem'
        error:
          $ref: '#/components/schemas/Status'
    CheckBulkPermissionsRequest:
      type: object
      properties:
        consistency:
          $ref: '#/components/schemas/Consistency'
        items:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/CheckBulkPermissionsRequestItem'
        withTracing:
          type: boolean
          description: 'with_tracing, if true, indicates that each response should
            include a debug trace.

            This can be useful for debugging and performance analysis, but adds a
            small amount

            of compute overhead to the request.'
      description: 'CheckBulkPermissionsRequest issues a check on whether a subject
        has permission

        or is a member of a relation on a specific resource for each item in the list.


        The ordering of the items in the response is maintained in the response.

        Checks with the same subject/permission will automatically be batched for
        performance optimization.'
    CheckBulkPermissionsRequestItem:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ObjectReference'
        permission:
          type: string
        subject:
          $ref: '#/components/schemas/SubjectReference'
        context:
          type: object
    CheckBulkPermissionsResponse:
      type: object
      properties:
        checkedAt:
          $ref: '#/components/schemas/ZedToken'
        pairs:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/CheckBulkPermissionsPair'
    CheckBulkPermissionsResponseItem:
      type: object
      properties:
        permissionship:
          $ref: '#/components/schemas/CheckPermissionResponse.Permissionship'
        partialCaveatInfo:
          $ref: '#/components/schemas/PartialCaveatInfo'
        debugTrace:
          $ref: '#/components/schemas/DebugInformation'
          description: debug_trace is the debugging trace of this check, if requested.
    CheckDebugTrace:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ObjectReference'
          description: 'resource holds the resource on which the Check was performed.

            for batched calls, the object_id field contains a comma-separated list
            of object IDs

            for all the resources checked in the batch.'
        permission:
          type: string
          description: permission holds the name of the permission or relation on
            which the Check was performed.
        permissionType:
          $ref: '#/components/schemas/PermissionType'
          description: permission_type holds information indicating whether it was
            a permission or relation.
        subject:
          $ref: '#/components/schemas/SubjectReference'
          description: 'subject holds the subject on which the Check was performed.
            This will be static across all calls within

            the same Check tree.'
        result:
          $ref: '#/components/schemas/CheckDebugTrace.Permissionship'
          description: result holds the result of the Check call.
        caveatEvaluationInfo:
          $ref: '#/components/schemas/CaveatEvalInfo'
          description: caveat_evaluation_info holds information about the caveat evaluated
            for this step of the trace.
        duration:
          type: string
          description: duration holds the time spent executing this Check operation.
        wasCachedResult:
          type: boolean
          description: was_cached_result, if true, indicates that the result was found
            in the cache and returned directly.
        subProblems:
          $ref: '#/components/schemas/SubProblems'
          description: 'sub_problems holds the sub problems that were executed to
            resolve the answer to this Check. An empty list

            and a permissionship of PERMISSIONSHIP_HAS_PERMISSION indicates the subject
            was found within this relation.'
        optionalExpiresAt:
          type: string
          format: date-time
          description: 'optional_expires_at is the time at which at least one of the
            relationships used to

            compute this result, expires (if any). This is *not* related to the caching
            window.'
        traceOperationId:
          type: string
          description: 'trace_operation_id is a unique identifier for this trace''s
            operation, that will

            be shared for all traces created for the same check operation in SpiceDB.


            In cases where SpiceDB performs automatic batching of subproblems, this
            ID can be used

            to correlate work that was shared across multiple traces.


            This identifier is generated by SpiceDB, is to be considered opaque to
            the caller

            and only guaranteed to be unique within the same overall Check or CheckBulk
            operation.'
        source:
          type: string
          description: 'source holds the source of the result. It is of the form:

            `<sourcetype>:<sourceid>`, where sourcetype can be, among others:

            `spicedb`, `materialize`, etc.'
      description: 'CheckDebugTrace is a recursive trace of the requests made for
        resolving a CheckPermission

        API call.'
    CheckDebugTrace.Permissionship:
      type: string
      enum:
      - PERMISSIONSHIP_UNSPECIFIED
      - PERMISSIONSHIP_NO_PERMISSION
      - PERMISSIONSHIP_HAS_PERMISSION
      - PERMISSIONSHIP_CONDITIONAL_PERMISSION
      default: PERMISSIONSHIP_UNSPECIFIED
    CheckPermissionRequest:
      type: object
      properties:
        consistency:
          $ref: '#/components/schemas/Consistency'
        resource:
          $ref: '#/components/schemas/ObjectReference'
          description: resource is the resource on which to check the permission or
            relation.
        permission:
          type: string
          description: 'permission is the name of the permission (or relation) on
            which to execute

            the check.'
        subject:
          $ref: '#/components/schemas/SubjectReference'
          description: subject is the subject that will be checked for the permission
            or relation.
        context:
          type: object
          title: context consists of named values that are injected into the caveat
            evaluation context
        withTracing:
          type: boolean
          description: 'with_tracing, if true, indicates that the response should
            include a debug trace.

            This can be useful for debugging and performance analysis, but adds a
            small amount

            of compute overhead to the request.'
      description: 'CheckPermissionRequest issues a check on whether a subject has
        a permission

        or is a member of a relation, on a specific resource.'
    CheckPermissionResponse:
      type: object
      properties:
        checkedAt:
          $ref: '#/components/schemas/ZedToken'
        permissionship:
          $ref: '#/components/schemas/CheckPermissionResponse.Permissionship'
          description: 'Permissionship communicates whether or not the subject has
            the requested

            permission or has a relationship with the given resource, over the given

            relation.


            This value will be authzed.api.v1.PERMISSIONSHIP_HAS_PERMISSION if the

            requested subject is a member of the computed permission set or there

            exists a relationship with the requested relation from the given resource

            to the given subject.'
        partialCaveatInfo:
          $ref: '#/components/schemas/PartialCaveatInfo'
          title: partial_caveat_info holds information of a partially-evaluated caveated
            response
        debugTrace:
          $ref: '#/components/schemas/DebugInformation'
          description: debug_trace is the debugging trace of this check, if requested.
        optionalExpiresAt:
          type: string
          format: date-time
          description: 'optional_expires_at is the time at which at least one of the
            relationships used to

            compute this result, expires (if any). This is *not* related to the caching
            window.'
    CheckPermissionResponse.Permissionship:
      type: string
      enum:
      - PERMISSIONSHIP_UNSPECIFIED
      - PERMISSIONSHIP_NO_PERMISSION
      - PERMISSIONSHIP_HAS_PERMISSION
      - PERMISSIONSHIP_CONDITIONAL_PERMISSION
      default: PERMISSIONSHIP_UNSPECIFIED
      description: " - PERMISSIONSHIP_UNSPECIFIED: PERMISSIONSHIP_UNSPECIFIED is the\
        \ default value and should not be used or\nrelied upon. Servers should not\
        \ return this value.\n - PERMISSIONSHIP_NO_PERMISSION: PERMISSIONSHIP_NO_PERMISSION\
        \ indicates that the subject does not have the\nrequested permission on the\
        \ resource.\n - PERMISSIONSHIP_HAS_PERMISSION: PERMISSIONSHIP_HAS_PERMISSION\
        \ indicates that the subject has the requested\npermission on the resource.\n\
        \ - PERMISSIONSHIP_CONDITIONAL_PERMISSION: PERMISSIONSHIP_CONDITIONAL_PERMISSION\
        \ indicates that the subject has the\nrequested permission on the resource,\
        \ but only if a caveat condition is met.\nThe `partial_caveat_info` field\
        \ in the response should contain the missing\ncontext fields that must be\
        \ provided to fully evaluate the caveat."
    ComputablePermissionsRequest:
      type: object
      properties:
        consistency:
          $ref: '#/components/schemas/Consistency'
        definitionName:
          type: string
        relationName:
          type: string
        optionalDefinitionNameFilter:
          type: string
          description: 'optional_definition_name_match is a prefix that is matched
            against the definition name(s)

            for the permissions returned.

            If not specified, will be ignored.'
    ComputablePermissionsResponse:
      type: object
      properties:
        permissions:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ReflectionRelationReference'
        readAt:
          $ref: '#/components/schemas/ZedToken'
          description: read_at is the ZedToken at which the schema was read.
    Consistency:
      type: object
      properties:
        minimizeLatency:
          type: boolean
          description: 'minimize_latency indicates that the latency for the call should
            be

            minimized by having the system select the fastest snapshot available.'
        atLeastAsFresh:
          $ref: '#/components/schemas/ZedToken'
          description: 'at_least_as_fresh indicates that all data used in the API
            call must be

            *at least as fresh* as that found in the ZedToken; more recent data might

            be used if available or faster.'
        atExactSnapshot:
          $ref: '#/components/schemas/ZedToken'
          description: 'at_exact_snapshot indicates that all data used in the API
            call must be

            *at the given* snapshot in time; if the snapshot is no longer available,

            an error will be returned to the caller.'
        fullyConsistent:
          type: boolean
          description: 'fully_consistent indicates that all data used in the API call
            *must* be

            at the most recent snapshot found.


            NOTE: using this method can be *quite slow*, so unless there is a need
            to

            do so, it is recommended to use `at_least_as_fresh` with a stored

            ZedToken.'
      description: 'Consistency will define how a request is handled by the backend.

        By defining a consistency requirement, and a token at which those

        requirements should be applied, where applicable.'
    ContextualizedCaveat:
      type: object
      properties:
        caveatName:
          type: string
          title: caveat_name is the name of the caveat expression to use, as defined
            in the schema
        context:
          type: object
          title: context consists of any named values that are defined at write time
            for the caveat expression
      description: 'ContextualizedCaveat represents a reference to a caveat to be
        used by caveated relationships.

        The context consists of key-value pairs that will be injected at evaluation
        time.

        The keys must match the arguments defined on the caveat in the schema.'
    DebugInformation:
      type: object
      properties:
        check:
          $ref: '#/components/schemas/CheckDebugTrace'
          description: check holds debug information about a check request.
        schemaUsed:
          type: string
          description: schema_used holds the schema used for the request.
      description: 'DebugInformation defines debug information returned by an API
        call in a footer when

        requested with a specific debugging header.


        The specific debug information returned will depend on the type of the API
        call made.


        See the github.com/authzed/authzed-go project for the specific header and
        footer names.'
    DeleteRelationshipsRequest:
      type: object
      properties:
        relationshipFilter:
          $ref: '#/components/schemas/RelationshipFilter'
        optionalPreconditions:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/Precondition'
          title: To be bounded by configuration
        optionalLimit:
          type: integer
          format: int64
          description: 'optional_limit, if non-zero, specifies the limit on the number
            of relationships to be deleted.

            If there are more matching relationships found to be deleted than the
            limit specified here,

            the deletion call will fail with an error to prevent partial deletion.
            If partial deletion

            is needed, specify below that partial deletion is allowed. Partial deletions
            can be used

            in a loop to delete large amounts of relationships in a *non-transactional*
            manner.'
        optionalAllowPartialDeletions:
          type: boolean
          description: 'optional_allow_partial_deletions, if true and a limit is specified,
            will delete matching found

            relationships up to the count specified in optional_limit, and no more.'
        optionalTransactionMetadata:
          type: object
          description: 'optional_transaction_metadata is an optional field that can
            be used to store metadata about the transaction.

            If specified, this metadata will be supplied in the WatchResponse for
            the deletions associated with

            this transaction.'
      description: 'DeleteRelationshipsRequest specifies which Relationships should
        be deleted,

        requesting the delete of *ALL* relationships that match the specified

        filters. If the optional_preconditions parameter is included, all of the

        specified preconditions must also be satisfied before the delete will be

        executed.'
    DeleteRelationshipsResponse:
      type: object
      properties:
        deletedAt:
          $ref: '#/components/schemas/ZedToken'
          description: deleted_at is the revision at which the relationships were
            deleted.
        deletionProgress:
          $ref: '#/components/schemas/DeletionProgress'
          description: deletion_progress is an enumeration of the possible outcomes
            that occurred when attempting to delete the specified relationships.
        relationshipsDeletedCount:
          type: string
          format: uint64
          description: relationships_deleted_count is the number of relationships
            that were deleted.
    DeletionProgress:
      type: string
      enum:
      - DELETION_PROGRESS_UNSPECIFIED
      - DELETION_PROGRESS_COMPLETE
      - DELETION_PROGRESS_PARTIAL
      default: DELETION_PROGRESS_UNSPECIFIED
      description: " - DELETION_PROGRESS_COMPLETE: DELETION_PROGRESS_COMPLETE indicates\
        \ that all remaining relationships matching the filter\nwere deleted. Will\
        \ be returned even if no relationships were deleted.\n - DELETION_PROGRESS_PARTIAL:\
        \ DELETION_PROGRESS_PARTIAL indicates that a subset of the relationships matching\
        \ the filter\nwere deleted. Only returned if optional_allow_partial_deletions\
        \ was true, an optional_limit was\nspecified, and there existed more relationships\
        \ matching the filter than optional_limit would allow.\nOnce all remaining\
        \ relationships have been deleted, DELETION_PROGRESS_COMPLETE will be returned."
    DependentRelationsRequest:
      type: object
      properties:
        consistency:
          $ref: '#/components/schemas/Consistency'
        definitionName:
          type: string
        permissionName:
          type: string
    DependentRelationsResponse:
      type: object
      properties:
        relations:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ReflectionRelationReference'
        readAt:
          $ref: '#/components/schemas/ZedToken'
          description: read_at is the ZedToken at which the schema was read.
    DiffSchemaRequest:
      type: object
      properties:
        consistency:
          $ref: '#/components/schemas/Consistency'
        comparisonSchema:
          type: string
    DiffSchemaResponse:
      type: object
      properties:
        diffs:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ReflectionSchemaDiff'
        readAt:
          $ref: '#/components/schemas/ZedToken'
          description: read_at is the ZedToken at which the schema was read.
    DirectSubjectSet:
      type: object
      properties:
        subjects:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/SubjectReference'
      description: DirectSubjectSet is a subject set which is simply a collection
        of subjects.
    DownloadPermissionSetsResponse:
      type: object
      properties:
        files:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/File'
          title: files contains the list of downloadable files with their URLs
        timestamp:
          type: string
          format: date-time
          description: timestamp represents the time associated with the returned
            data revision.
        atRevision:
          $ref: '#/components/schemas/ZedToken'
          description: 'at_revision is the snapshot revision the returned files were
            produced at,

            encoded as a ZedToken. Consumers should pass this token to

            WatchPermissionSets as optional_starting_after to resume the stream

            immediately after the snapshot without leaving gaps in event history.'
    ExpCaveat:
      type: object
      properties:
        name:
          type: string
        comment:
          type: string
          description: 'comment is a human-readable comments on the caveat. Will include

            delimiter characters.'
        parameters:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ExpCaveatParameter'
        expression:
          type: string
      description: ExpCaveat is the representation of a caveat in the schema.
    ExpCaveatParameter:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          title: 'type is the type of the parameter. Will be a string representing
            the

            type, e.g. `int` or `list<string>`'
        parentCaveatName:
          type: string
      description: ExpCaveatParameter is the representation of a parameter in a caveat.
    ExpCaveatParameterTypeChange:
      type: object
      properties:
        parameter:
          $ref: '#/components/schemas/ExpCaveatParameter'
        previousType:
          type: string
    ExpDefinition:
      type: object
      properties:
        name:
          type: string
        comment:
          type: string
          description: 'comment is a human-readable comments on the definition. Will
            include

            delimiter characters.'
        relations:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ExpRelation'
        permissions:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ExpPermission'
      description: ExpDefinition is the representation of a definition in the schema.
    ExpPermission:
      type: object
      properties:
        name:
          type: string
        comment:
          type: string
          description: 'comment is a human-readable comments on the permission. Will
            include

            delimiter characters.'
        parentDefinitionName:
          type: string
      description: ExpPermission is the representation of a permission in the schema.
    ExpRelation:
      type: object
      properties:
        name:
          type: string
        comment:
          type: string
        parentDefinitionName:
          type: string
        subjectTypes:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ExpTypeReference'
      description: ExpRelation is the representation of a relation in the schema.
    ExpRelationReference:
      type: object
      properties:
        definitionName:
          type: string
        relationName:
          type: string
        isPermission:
          type: boolean
      description: ExpRelationReference is a reference to a relation or permission
        in the schema.
    ExpRelationSubjectTypeChange:
      type: object
      properties:
        relation:
          $ref: '#/components/schemas/ExpRelation'
        changedSubjectType:
          $ref: '#/components/schemas/ExpTypeReference'
    ExpSchemaDiff:
      type: object
      properties:
        definitionAdded:
          $ref: '#/components/schemas/ExpDefinition'
        definitionRemoved:
          $ref: '#/components/schemas/ExpDefinition'
        definitionDocCommentChanged:
          $ref: '#/components/schemas/ExpDefinition'
        relationAdded:
          $ref: '#/components/schemas/ExpRelation'
        relationRemoved:
          $ref: '#/components/schemas/ExpRelation'
        relationDocCommentChanged:
          $ref: '#/components/schemas/ExpRelation'
        relationSubjectTypeAdded:
          $ref: '#/components/schemas/ExpRelationSubjectTypeChange'
        relationSubjectTypeRemoved:
          $ref: '#/components/schemas/ExpRelationSubjectTypeChange'
        permissionAdded:
          $ref: '#/components/schemas/ExpPermission'
        permissionRemoved:
          $ref: '#/components/schemas/ExpPermission'
        permissionDocCommentChanged:
          $ref: '#/components/schemas/ExpPermission'
        permissionExprChanged:
          $ref: '#/components/schemas/ExpPermission'
        caveatAdded:
          $ref: '#/components/schemas/ExpCaveat'
        caveatRemoved:
          $ref: '#/components/schemas/ExpCaveat'
        caveatDocCommentChanged:
          $ref: '#/components/schemas/ExpCaveat'
        caveatExprChanged:
          $ref: '#/components/schemas/ExpCaveat'
        caveatParameterAdded:
          $ref: '#/components/schemas/ExpCaveatParameter'
        caveatParameterRemoved:
          $ref: '#/components/schemas/ExpCaveatParameter'
        caveatParameterTypeChanged:
          $ref: '#/components/schemas/ExpCaveatParameterTypeChange'
      description: ExpSchemaDiff is the representation of a diff between two schemas.
    ExpSchemaFilter:
      type: object
      properties:
        optionalDefinitionNameFilter:
          type: string
          description: optional_definition_name_filter is a prefix that is matched
            against the definition name.
        optionalCaveatNameFilter:
          type: string
          description: optional_caveat_name_filter is a prefix that is matched against
            the caveat name.
        optionalRelationNameFilter:
          type: string
          description: optional_relation_name_filter is a prefix that is matched against
            the relation name.
        optionalPermissionNameFilter:
          type: string
          description: optional_permission_name_filter is a prefix that is matched
            against the permission name.
      description: ExpSchemaFilter is a filter that can be applied to the schema on
        reflection.
    ExpTypeReference:
      type: object
      properties:
        subjectDefinitionName:
          type: string
          description: subject_definition_name is the name of the subject's definition.
        optionalCaveatName:
          type: string
          description: optional_caveat_name is the name of the caveat that is applied
            to the subject, if any.
        isTerminalSubject:
          type: boolean
          description: is_terminal_subject is true if the subject is terminal, meaning
            it is referenced directly vs a sub-relation.
        optionalRelationName:
          type: string
          description: optional_relation_name is the name of the relation that is
            applied to the subject, if any.
        isPublicWildcard:
          type: boolean
          description: is_public_wildcard is true if the subject is a public wildcard.
      description: ExpTypeReference is the representation of a type reference in the
        schema.
    ExpandPermissionTreeRequest:
      type: object
      properties:
        consistency:
          $ref: '#/components/schemas/Consistency'
        resource:
          $ref: '#/components/schemas/ObjectReference'
          description: resource is the resource over which to run the expansion.
        permission:
          type: string
          description: 'permission is the name of the permission or relation over
            which to run the

            expansion for the resource.'
      description: 'ExpandPermissionTreeRequest returns a tree representing the expansion
        of all

        relationships found accessible from a permission or relation on a particular

        resource.


        ExpandPermissionTreeRequest is typically used to determine the full set of

        subjects with a permission, along with the relationships that grant said

        access.'
    ExpandPermissionTreeResponse:
      type: object
      properties:
        expandedAt:
          $ref: '#/components/schemas/ZedToken'
        treeRoot:
          $ref: '#/components/schemas/PermissionRelationshipTree'
          description: 'tree_root is a tree structure whose leaf nodes are subjects,
            and

            intermediate nodes represent the various operations (union, intersection,

            exclusion) to reach those subjects.'
    ExperimentalComputablePermissionsRequest:
      type: object
      properties:
        consistency:
          $ref: '#/components/schemas/Consistency'
        definitionName:
          type: string
        relationName:
          type: string
        optionalDefinitionNameFilter:
          type: string
          description: 'optional_definition_name_match is a prefix that is matched
            against the definition name(s)

            for the permissions returned.

            If not specified, will be ignored.'
    ExperimentalComputablePermissionsResponse:
      type: object
      properties:
        permissions:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ExpRelationReference'
        readAt:
          $ref: '#/components/schemas/ZedToken'
          description: read_at is the ZedToken at which the schema was read.
    ExperimentalCountRelationshipsByFilterResponse:
      type: object
      properties:
        relationshipCount:
          type: string
          format: uint64
          description: relationship_count is the count of relationships that match
            the filter.
        readAt:
          $ref: '#/components/schemas/ZedToken'
          description: read_at is the ZedToken at which the relationship count applies.
    ExperimentalCountRelationshipsRequest:
      type: object
      properties:
        name:
          type: string
          description: name is the name of the counter whose count is being requested.
    ExperimentalCountRelationshipsResponse:
      type: object
      properties:
        counterStillCalculating:
          type: boolean
          description: counter_still_calculating is true if the counter is still calculating
            the count.
        readCounterValue:
          $ref: '#/components/schemas/ReadCounterValue'
          description: read_counter_value is the value of the counter at the time
            of the read.
    ExperimentalDependentRelationsRequest:
      type: object
      properties:
        consistency:
          $ref: '#/components/schemas/Consistency'
        definitionName:
          type: string
        permissionName:
          type: string
    ExperimentalDependentRelationsResponse:
      type: object
      properties:
        relations:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ExpRelationReference'
        readAt:
          $ref: '#/components/schemas/ZedToken'
          description: read_at is the ZedToken at which the schema was read.
    ExperimentalDiffSchemaRequest:
      type: object
      properties:
        consistency:
          $ref: '#/components/schemas/Consistency'
        comparisonSchema:
          type: string
    ExperimentalDiffSchemaResponse:
      type: object
      properties:
        diffs:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ExpSchemaDiff'
        readAt:
          $ref: '#/components/schemas/ZedToken'
          description: read_at is the ZedToken at which the schema was read.
    ExperimentalReflectSchemaRequest:
      type: object
      properties:
        consistency:
          $ref: '#/components/schemas/Consistency'
        optionalFilters:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ExpSchemaFilter'
          title: 'optional_filters defines optional filters that are applied in

            an OR fashion to the schema, before being returned'
    ExperimentalReflectSchemaResponse:
      type: object
      properties:
        definitions:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ExpDefinition'
          description: definitions are the definitions defined in the schema.
        caveats:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ExpCaveat'
          description: caveats are the caveats defined in the schema.
        readAt:
          $ref: '#/components/schemas/ZedToken'
          description: read_at is the ZedToken at which the schema was read.
    ExperimentalRegisterRelationshipCounterRequest:
      type: object
      properties:
        name:
          type: string
          description: name is the name of the counter being registered.
        relationshipFilter:
          $ref: '#/components/schemas/RelationshipFilter'
          description: 'relationship_filter defines the filter to be applied to the
            relationships

            to be counted.'
    ExperimentalRegisterRelationshipCounterResponse:
      type: object
    ExperimentalUnregisterRelationshipCounterRequest:
      type: object
      properties:
        name:
          type: string
          description: name is the name of the counter being unregistered.
    ExperimentalUnregisterRelationshipCounterResponse:
      type: object
    ExportBulkRelationshipsRequest:
      type: object
      properties:
        consistency:
          $ref: '#/components/schemas/Consistency'
        optionalLimit:
          type: integer
          format: int64
          description: 'optional_limit, if non-zero, specifies the limit on the number
            of

            relationships the server can return in one page. By default, the server

            will pick a page size, and the server is free to choose a smaller size

            at will.'
        optionalCursor:
          $ref: '#/components/schemas/v1.Cursor'
          description: 'optional_cursor, if specified, indicates the cursor after
            which results

            should resume being returned. The cursor can be found on the

            BulkExportRelationshipsResponse object.'
        optionalRelationshipFilter:
          $ref: '#/components/schemas/RelationshipFilter'
          description: 'optional_relationship_filter, if specified, indicates the

            filter to apply to each relationship to be exported.'
      description: 'ExportBulkRelationshipsRequest represents a resumable request
        for

        all relationships from the server.'
    ExportBulkRelationshipsResponse:
      type: object
      properties:
        afterResultCursor:
          $ref: '#/components/schemas/v1.Cursor'
        relationships:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/Relationship'
      description: 'ExportBulkRelationshipsResponse is one page in a stream of relationship

        groups that meet the criteria specified by the originating request. The

        server will continue to stream back relationship groups as quickly as it can

        until all relationships have been transmitted back.'
    File:
      type: object
      properties:
        name:
          type: string
          title: name is the filename of the downloadable file
        url:
          type: string
          title: url is the download URL for the file (typically a signed S3 URL)
    ImportBulkRelationshipsRequest:
      type: object
      properties:
        relationships:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/Relationship'
      description: 'ImportBulkRelationshipsRequest represents one batch of the streaming

        ImportBulkRelationships API. The maximum size is only limited by the backing

        datastore, and optimal size should be determined by the calling client

        experimentally. When ImportBulk is invoked and receives its first request
        message,

        a transaction is opened to import the relationships. All requests sent to
        the same

        invocation are executed under this single transaction. If a relationship already

        exists within the datastore, the entire transaction will fail with an error.'
    ImportBulkRelationshipsResponse:
      type: object
      properties:
        numLoaded:
          type: string
          format: uint64
      description: 'ImportBulkRelationshipsResponse is returned on successful completion
        of the

        bulk load stream, and contains the total number of relationships loaded.'
    LookupPermissionSetsRequired:
      type: object
      properties:
        requiredLookupAt:
          $ref: '#/components/schemas/ZedToken'
          description: required_lookup_at is the snapshot revision at which the permission
            set needs to be rebuilt to.
      description: 'LookupPermissionSetsRequired is a signal that the consumer should
        perform a LookupPermissionSets call because

        the permission set snapshot needs to be rebuilt from scratch. This typically
        happens when the origin SpiceDB

        cluster has seen its schema changed, see BreakingSchemaChange event.'
    LookupPermissionSetsResponse:
      type: object
      properties:
        change:
          $ref: '#/components/schemas/PermissionSetChange'
          description: 'change represents the permission set delta necessary to transition
            an uninitialized target system to

            a specific snapshot revision. In practice it''s not different from the
            WatchPermissionSetsResponse.change, except

            all changes will be of time SET_OPERATION_ADDED because it''s assumed
            there is no known previous state.


            Applying the deltas to a previously initialized target system would yield
            incorrect results.'
        cursor:
          $ref: '#/components/schemas/v0.Cursor'
          description: 'cursor points to a specific permission set in a revision.

            The consumer should keep track of the cursor in order to resume streaming
            in the event of consumer restarts. This

            is particularly important in backfill scenarios that may take hours or
            event days to complete.'
    LookupPermissionship:
      type: string
      enum:
      - LOOKUP_PERMISSIONSHIP_UNSPECIFIED
      - LOOKUP_PERMISSIONSHIP_HAS_PERMISSION
      - LOOKUP_PERMISSIONSHIP_CONDITIONAL_PERMISSION
      default: LOOKUP_PERMISSIONSHIP_UNSPECIFIED
      description: "- LOOKUP_PERMISSIONSHIP_UNSPECIFIED: LOOKUP_PERMISSIONSHIP_UNSPECIFIED\
        \ is the default value and should not be used or\nrelied upon. Servers should\
        \ not return this value.\n - LOOKUP_PERMISSIONSHIP_HAS_PERMISSION: LOOKUP_PERMISSIONSHIP_HAS_PERMISSION\
        \ indicates that the subject has permission\non the resource with no missing\
        \ caveat context.\n - LOOKUP_PERMISSIONSHIP_CONDITIONAL_PERMISSION: LOOKUP_PERMISSIONSHIP_CONDITIONAL_PERMISSION\
        \ indicates that the subject has\npermission on the resource, but only if\
        \ a caveat condition is met. The\n`partial_caveat_info` field in the response\
        \ should contain the missing context\nfields that must be provided to fully\
        \ evaluate the caveat."
      title: LookupPermissionship represents whether a Lookup response was partially
        evaluated or not
    LookupResourcesRequest:
      type: object
      properties:
        consistency:
          $ref: '#/components/schemas/Consistency'
        resourceObjectType:
          type: string
          description: 'resource_object_type is the type of resource object for which
            the IDs will

            be returned.'
        permission:
          type: string
          description: 'permission is the name of the permission or relation for which
            the subject

            must Check.'
        subject:
          $ref: '#/components/schemas/SubjectReference'
          description: subject is the subject with access to the resources.
        context:
          type: object
          title: context consists of named values that are injected into the caveat
            evaluation context
        optionalLimit:
          type: integer
          format: int64
          description: 'optional_limit, if non-zero, specifies the limit on the number
            of resources to return

            before the stream is closed on the server side. By default, the stream
            will continue

            resolving resources until exhausted or the stream is closed due to the
            client or a

            network issue.'
        optionalCursor:
          $ref: '#/components/schemas/v1.Cursor'
          description: 'optional_cursor, if specified, indicates the cursor after
            which results should resume being returned.

            The cursor can be found on the LookupResourcesResponse object.'
        withDebug:
          type: boolean
          description: 'with_debug, if true, indicates that the response should return
            debug information

            if present and available. For now, ONLY enables debugging of maximum recursion
            depth

            errors, with additional context being returned in error details, but this
            may be

            extended in the future.'
      description: 'LookupResourcesRequest performs a lookup of all resources of a
        particular

        kind on which the subject has the specified permission or the relation in

        which the subject exists, streaming back the IDs of those resources.'
    LookupResourcesResponse:
      type: object
      properties:
        lookedUpAt:
          $ref: '#/components/schemas/ZedToken'
          description: looked_up_at is the ZedToken at which the resource was found.
        resourceObjectId:
          type: string
          description: resource_object_id is the object ID of the found resource.
        permissionship:
          $ref: '#/components/schemas/LookupPermissionship'
          title: permissionship indicates whether the response was partially evaluated
            or not
        partialCaveatInfo:
          $ref: '#/components/schemas/PartialCaveatInfo'
          title: partial_caveat_info holds information of a partially-evaluated caveated
            response
        afterResultCursor:
          $ref: '#/components/schemas/v1.Cursor'
          description: 'after_result_cursor holds a cursor that can be used to resume
            the LookupResources stream after this

            result.'
      description: 'LookupResourcesResponse contains a single matching resource object
        ID for the

        requested object type, permission, and subject.'
    LookupSubjectsRequest:
      type: object
      properties:
        consistency:
          $ref: '#/components/schemas/Consistency'
        resource:
          $ref: '#/components/schemas/ObjectReference'
          description: 'resource is the resource for which all matching subjects for
            the permission

            or relation will be returned.'
        permission:
          type: string
          description: 'permission is the name of the permission (or relation) for
            which to find

            the subjects.'
        subjectObjectType:
          type: string
          description: 'subject_object_type is the type of subject object for which
            the IDs will

            be returned.'
        optionalSubjectRelation:
          type: string
          description: optional_subject_relation is the optional relation for the
            subject.
        context:
          type: object
          title: context consists of named values that are injected into the caveat
            evaluation context
        optionalConcreteLimit:
          type: integer
          format: int64
          description: 'optional_concrete_limit is currently unimplemented for LookupSubjects

            and will return an error as of SpiceDB version 1.40.1. This will

            be implemented in a future version of SpiceDB.'
        optionalCursor:
          $ref: '#/components/schemas/v1.Cursor'
          description: 'optional_cursor is not currently supported for LookupSubjects
            and this

            field will be ignored. Cursoring support will be added in a future version.'
        wildcardOption:
          $ref: '#/components/schemas/WildcardOption'
          description: 'wildcard_option specifies whether wildcards should be returned
            by LookupSubjects.

            For backwards compatibility, defaults to WILDCARD_OPTION_INCLUDE_WILDCARDS
            if unspecified.'
      description: 'LookupSubjectsRequest performs a lookup of all subjects of a particular

        kind for which the subject has the specified permission or the relation in

        which the subject exists, streaming back the IDs of those subjects.'
    LookupSubjectsResponse:
      type: object
      properties:
        lookedUpAt:
          $ref: '#/components/schemas/ZedToken'
        subjectObjectId:
          type: string
          title: 'subject_object_id is the Object ID of the subject found. May be
            a `*` if

            a wildcard was found.

            deprecated: use `subject`'
        excludedSubjectIds:
          type: array
          items:
            type: string
          title: 'excluded_subject_ids are the Object IDs of the subjects excluded.
            This list

            will only contain object IDs if `subject_object_id` is a wildcard (`*`)
            and

            will only be populated if exclusions exist from the wildcard.

            deprecated: use `excluded_subjects`'
        permissionship:
          $ref: '#/components/schemas/LookupPermissionship'
          title: 'permissionship indicates whether the response was partially evaluated
            or not

            deprecated: use `subject.permissionship`'
        partialCaveatInfo:
          $ref: '#/components/schemas/PartialCaveatInfo'
          title: 'partial_caveat_info holds information of a partially-evaluated caveated
            response

            deprecated: use `subject.partial_caveat_info`'
        subject:
          $ref: '#/components/schemas/ResolvedSubject'
          description: subject is the subject found, along with its permissionship.
        excludedSubjects:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ResolvedSubject'
          description: 'excluded_subjects are the subjects excluded. This list

            will only contain subjects if `subject.subject_object_id` is a wildcard
            (`*`) and

            will only be populated if exclusions exist from the wildcard.'
        afterResultCursor:
          $ref: '#/components/schemas/v1.Cursor'
          description: 'after_result_cursor holds a cursor that can be used to resume
            the LookupSubjects stream after this

            result.'
      description: 'LookupSubjectsResponse contains a single matching subject object
        ID for the

        requested subject object type on the permission or relation.'
    MemberReference:
      type: object
      properties:
        objectType:
          type: string
          title: object_type is the type of object of a permission set member
        objectId:
          type: string
          title: object_id is the ID of a permission set member
        optionalPermissionOrRelation:
          type: string
          title: optional_permission_or_relation is the permission or relation referenced
            by this permission set member
    NullValue:
      type: string
      enum:
      - NULL_VALUE
      default: NULL_VALUE
      description: "`NullValue` is a singleton enumeration to represent the null value\
        \ for the\n`Value` type union.\n\nThe JSON representation for `NullValue`\
        \ is JSON `null`.\n\n - NULL_VALUE: Null value."
    ObjectReference:
      type: object
      properties:
        objectType:
          type: string
        objectId:
          type: string
      description: ObjectReference is used to refer to a specific object in the system.
    PartialCaveatInfo:
      type: object
      properties:
        missingRequiredContext:
          type: array
          items:
            type: string
          title: 'missing_required_context is a list of one or more fields that were
            missing and prevented caveats

            from being fully evaluated'
      title: 'PartialCaveatInfo carries information necessary for the client to take
        action

        in the event a response contains a partially evaluated caveat'
    PermissionChange:
      type: object
      properties:
        revision:
          $ref: '#/components/schemas/ZedToken'
          description: revision represents the revision at which the change occurred.
        resource:
          $ref: '#/components/schemas/ObjectReference'
          description: resource is the resource that the permission change is related
            to.
        permission:
          type: string
          description: permission is the permission that has changed.
        subject:
          $ref: '#/components/schemas/SubjectReference'
          description: subject is the subject that the permission change is related
            to.
        permissionship:
          $ref: '#/components/schemas/PermissionChange.Permissionship'
          description: permissionship is the new permissionship of the subject over
            the resource after the change.
    PermissionChange.Permissionship:
      type: string
      enum:
      - PERMISSIONSHIP_UNSPECIFIED
      - PERMISSIONSHIP_NO_PERMISSION
      - PERMISSIONSHIP_HAS_PERMISSION
      - PERMISSIONSHIP_CONDITIONAL_PERMISSION
      default: PERMISSIONSHIP_UNSPECIFIED
    PermissionRelationshipTree:
      type: object
      properties:
        intermediate:
          $ref: '#/components/schemas/AlgebraicSubjectSet'
        leaf:
          $ref: '#/components/schemas/DirectSubjectSet'
        expandedObject:
          $ref: '#/components/schemas/ObjectReference'
        expandedRelation:
          type: string
      description: 'PermissionRelationshipTree is used for representing a tree of
        a resource and

        its permission relationships with other objects.'
    PermissionSetChange:
      type: object
      properties:
        atRevision:
          $ref: '#/components/schemas/ZedToken'
          description: revision represents the revision at which the permission set
            change occurred.
        operation:
          $ref: '#/components/schemas/SetOperation'
          title: operation represents the type of set operation that took place as
            part of the change
        parentSet:
          $ref: '#/components/schemas/SetReference'
          title: parent_set represents the permission set parent of either another
            set or a member
        childSet:
          $ref: '#/components/schemas/SetReference'
          title: child_set represents the scenario where another set is considered
            member of the parent set
        childMember:
          $ref: '#/components/schemas/MemberReference'
          title: child_member represents the scenario where an specific object is
            considered member of the parent set
    PermissionType:
      type: string
      enum:
      - PERMISSION_TYPE_UNSPECIFIED
      - PERMISSION_TYPE_RELATION
      - PERMISSION_TYPE_PERMISSION
      default: PERMISSION_TYPE_UNSPECIFIED
    Precondition:
      type: object
      properties:
        operation:
          $ref: '#/components/schemas/Precondition.Operation'
        filter:
          $ref: '#/components/schemas/RelationshipFilter'
      description: 'Precondition specifies how and the existence or absence of certain

        relationships as expressed through the accompanying filter should affect

        whether or not the operation proceeds.


        MUST_NOT_MATCH will fail the parent request if any relationships match the

        relationships filter.

        MUST_MATCH will fail the parent request if there are no

        relationships that match the filter.'
    Precondition.Operation:
      type: string
      enum:
      - OPERATION_UNSPECIFIED
      - OPERATION_MUST_NOT_MATCH
      - OPERATION_MUST_MATCH
      default: OPERATION_UNSPECIFIED
    ReadCounterValue:
      type: object
      properties:
        relationshipCount:
          type: string
          format: uint64
          description: relationship_count is the count of relationships that match
            the filter.
        readAt:
          $ref: '#/components/schemas/ZedToken'
          description: read_at is the ZedToken at which the relationship count applies.
    ReadRelationshipsRequest:
      type: object
      properties:
        consistency:
          $ref: '#/components/schemas/Consistency'
        relationshipFilter:
          $ref: '#/components/schemas/RelationshipFilter'
          description: 'relationship_filter defines the filter to be applied to the
            relationships

            to be returned.'
        optionalLimit:
          type: integer
          format: int64
          description: 'optional_limit, if non-zero, specifies the limit on the number
            of relationships to return

            before the stream is closed on the server side. By default, the stream
            will continue

            resolving relationships until exhausted or the stream is closed due to
            the client or a

            network issue.'
        optionalCursor:
          $ref: '#/components/schemas/v1.Cursor'
          description: 'optional_cursor, if specified, indicates the cursor after
            which results should resume being returned.

            The cursor can be found on the ReadRelationshipsResponse object.'
      description: 'ReadRelationshipsRequest specifies one or more filters used to
        read matching

        relationships within the system.'
    ReadRelationshipsResponse:
      type: object
      properties:
        readAt:
          $ref: '#/components/schemas/ZedToken'
          description: read_at is the ZedToken at which the relationship was found.
        relationship:
          $ref: '#/components/schemas/Relationship'
          description: relationship is the found relationship.
        afterResultCursor:
          $ref: '#/components/schemas/v1.Cursor'
          description: 'after_result_cursor holds a cursor that can be used to resume
            the ReadRelationships stream after this

            result.'
      description: 'ReadRelationshipsResponse contains a Relationship found that matches
        the

        specified relationship filter(s). A instance of this response message will

        be streamed to the client for each relationship found.'
    ReadSchemaRequest:
      type: object
      description: ReadSchemaRequest returns the schema from the database.
    ReadSchemaResponse:
      type: object
      properties:
        schemaText:
          type: string
          title: schema_text is the textual form of the current schema in the system
        readAt:
          $ref: '#/components/schemas/ZedToken'
          description: read_at is the ZedToken at which the schema was read.
      description: 'ReadSchemaResponse is the resulting data after having read the
        Object

        Definitions from a Schema.'
    ReflectSchemaRequest:
      type: object
      properties:
        consistency:
          $ref: '#/components/schemas/Consistency'
        optionalFilters:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ReflectionSchemaFilter'
          title: 'optional_filters defines optional filters that are applied in

            an OR fashion to the schema, before being returned'
    ReflectSchemaResponse:
      type: object
      properties:
        definitions:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ReflectionDefinition'
          description: definitions are the definitions defined in the schema.
        caveats:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ReflectionCaveat'
          description: caveats are the caveats defined in the schema.
        readAt:
          $ref: '#/components/schemas/ZedToken'
          description: read_at is the ZedToken at which the schema was read.
    ReflectionCaveat:
      type: object
      properties:
        name:
          type: string
        comment:
          type: string
          description: 'comment is a human-readable comments on the caveat. Will include

            delimiter characters.'
        parameters:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ReflectionCaveatParameter'
        expression:
          type: string
      description: ReflectionCaveat is the representation of a caveat in the schema.
    ReflectionCaveatParameter:
      type: object
      properties:
        name:
          type: string
        type:
          type: string
          title: 'type is the type of the parameter. Will be a string representing
            the

            type, e.g. `int` or `list<string>`'
        parentCaveatName:
          type: string
      description: ReflectionCaveatParameter is the representation of a parameter
        in a caveat.
    ReflectionCaveatParameterTypeChange:
      type: object
      properties:
        parameter:
          $ref: '#/components/schemas/ReflectionCaveatParameter'
        previousType:
          type: string
    ReflectionDefinition:
      type: object
      properties:
        name:
          type: string
        comment:
          type: string
          description: 'comment is a human-readable comments on the definition. Will
            include

            delimiter characters.'
        relations:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ReflectionRelation'
        permissions:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ReflectionPermission'
      description: ReflectionDefinition is the representation of a definition in the
        schema.
    ReflectionPermission:
      type: object
      properties:
        name:
          type: string
        comment:
          type: string
          description: 'comment is a human-readable comments on the permission. Will
            include

            delimiter characters.'
        parentDefinitionName:
          type: string
      description: ReflectionPermission is the representation of a permission in the
        schema.
    ReflectionRelation:
      type: object
      properties:
        name:
          type: string
        comment:
          type: string
        parentDefinitionName:
          type: string
        subjectTypes:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/ReflectionTypeReference'
      description: ReflectionRelation is the representation of a relation in the schema.
    ReflectionRelationReference:
      type: object
      properties:
        definitionName:
          type: string
        relationName:
          type: string
        isPermission:
          type: boolean
      description: ReflectionRelationReference is a reference to a relation or permission
        in the schema.
    ReflectionRelationSubjectTypeChange:
      type: object
      properties:
        relation:
          $ref: '#/components/schemas/ReflectionRelation'
        changedSubjectType:
          $ref: '#/components/schemas/ReflectionTypeReference'
    ReflectionSchemaDiff:
      type: object
      properties:
        definitionAdded:
          $ref: '#/components/schemas/ReflectionDefinition'
        definitionRemoved:
          $ref: '#/components/schemas/ReflectionDefinition'
        definitionDocCommentChanged:
          $ref: '#/components/schemas/ReflectionDefinition'
        relationAdded:
          $ref: '#/components/schemas/ReflectionRelation'
        relationRemoved:
          $ref: '#/components/schemas/ReflectionRelation'
        relationDocCommentChanged:
          $ref: '#/components/schemas/ReflectionRelation'
        relationSubjectTypeAdded:
          $ref: '#/components/schemas/ReflectionRelationSubjectTypeChange'
        relationSubjectTypeRemoved:
          $ref: '#/components/schemas/ReflectionRelationSubjectTypeChange'
        permissionAdded:
          $ref: '#/components/schemas/ReflectionPermission'
        permissionRemoved:
          $ref: '#/components/schemas/ReflectionPermission'
        permissionDocCommentChanged:
          $ref: '#/components/schemas/ReflectionPermission'
        permissionExprChanged:
          $ref: '#/components/schemas/ReflectionPermission'
        caveatAdded:
          $ref: '#/components/schemas/ReflectionCaveat'
        caveatRemoved:
          $ref: '#/components/schemas/ReflectionCaveat'
        caveatDocCommentChanged:
          $ref: '#/components/schemas/ReflectionCaveat'
        caveatExprChanged:
          $ref: '#/components/schemas/ReflectionCaveat'
        caveatParameterAdded:
          $ref: '#/components/schemas/ReflectionCaveatParameter'
        caveatParameterRemoved:
          $ref: '#/components/schemas/ReflectionCaveatParameter'
        caveatParameterTypeChanged:
          $ref: '#/components/schemas/ReflectionCaveatParameterTypeChange'
      description: ReflectionSchemaDiff is the representation of a diff between two
        schemas.
    ReflectionSchemaFilter:
      type: object
      properties:
        optionalDefinitionNameFilter:
          type: string
          description: optional_definition_name_filter is a prefix that is matched
            against the definition name.
        optionalCaveatNameFilter:
          type: string
          description: optional_caveat_name_filter is a prefix that is matched against
            the caveat name.
        optionalRelationNameFilter:
          type: string
          description: optional_relation_name_filter is a prefix that is matched against
            the relation name.
        optionalPermissionNameFilter:
          type: string
          description: optional_permission_name_filter is a prefix that is matched
            against the permission name.
      description: ReflectionSchemaFilter is a filter that can be applied to the schema
        on reflection.
    ReflectionTypeReference:
      type: object
      properties:
        subjectDefinitionName:
          type: string
          description: subject_definition_name is the name of the subject's definition.
        optionalCaveatName:
          type: string
          description: optional_caveat_name is the name of the caveat that is applied
            to the subject, if any.
        isTerminalSubject:
          type: boolean
          description: is_terminal_subject is true if the subject is terminal, meaning
            it is referenced directly vs a sub-relation.
        optionalRelationName:
          type: string
          description: optional_relation_name is the name of the relation that is
            applied to the subject, if any.
        isPublicWildcard:
          type: boolean
          description: is_public_wildcard is true if the subject is a public wildcard.
      description: ReflectionTypeReference is the representation of a type reference
        in the schema.
    RelationFilter:
      type: object
      properties:
        relation:
          type: string
    Relationship:
      type: object
      properties:
        resource:
          $ref: '#/components/schemas/ObjectReference'
          title: resource is the resource to which the subject is related, in some
            manner
        relation:
          type: string
          description: relation is how the resource and subject are related.
        subject:
          $ref: '#/components/schemas/SubjectReference'
          description: subject is the subject to which the resource is related, in
            some manner.
        optionalCaveat:
          $ref: '#/components/schemas/ContextualizedCaveat'
          title: optional_caveat is a reference to a the caveat that must be enforced
            over the relationship
        optionalExpiresAt:
          type: string
          format: date-time
          description: optional_expires_at is the time at which the relationship expires,
            if any.
      description: 'Relationship specifies how a resource relates to a subject. Relationships

        form the data for the graph over which all permissions questions are

        answered.'
    RelationshipFilter:
      type: object
      properties:
        resourceType:
          type: string
          description: 'resource_type is the *optional* resource type of the relationship.

            NOTE: It is not prefixed with "optional_" for legacy compatibility.'
        optionalResourceId:
          type: string
          description: 'optional_resource_id is the *optional* resource ID of the
            relationship.

            If specified, optional_resource_id_prefix cannot be specified.'
        optionalResourceIdPrefix:
          type: string
          description: 'optional_resource_id_prefix is the *optional* prefix for the
            resource ID of the relationship.

            If specified, optional_resource_id cannot be specified.'
        optionalRelation:
          type: string
          description: relation is the *optional* relation of the relationship.
        optionalSubjectFilter:
          $ref: '#/components/schemas/SubjectFilter'
          description: optional_subject_filter is the optional filter for the subjects
            of the relationships.
      description: 'RelationshipFilter is a collection of filters which when applied
        to a

        relationship will return relationships that have exactly matching fields.


        All fields are optional and if left unspecified will not filter relationships,

        but at least one field must be specified.


        NOTE: The performance of the API will be affected by the selection of fields

        on which to filter. If a field is not indexed, the performance of the API

        can be significantly slower.'
    RelationshipUpdate:
      type: object
      properties:
        operation:
          $ref: '#/components/schemas/RelationshipUpdate.Operation'
        relationship:
          $ref: '#/components/schemas/Relationship'
      description: 'RelationshipUpdate is used for mutating a single relationship
        within the

        service.


        CREATE will create the relationship only if it doesn''t exist, and error

        otherwise.


        TOUCH will upsert the relationship, and will not error if it

        already exists.


        DELETE will delete the relationship. If the relationship does not exist,

        this operation will no-op.'
    RelationshipUpdate.Operation:
      type: string
      enum:
      - OPERATION_UNSPECIFIED
      - OPERATION_CREATE
      - OPERATION_TOUCH
      - OPERATION_DELETE
      default: OPERATION_UNSPECIFIED
    ResolvedSubject:
      type: object
      properties:
        subjectObjectId:
          type: string
          description: 'subject_object_id is the Object ID of the subject found. May
            be a `*` if

            a wildcard was found.'
        permissionship:
          $ref: '#/components/schemas/LookupPermissionship'
          title: permissionship indicates whether the response was partially evaluated
            or not
        partialCaveatInfo:
          $ref: '#/components/schemas/PartialCaveatInfo'
          title: partial_caveat_info holds information of a partially-evaluated caveated
            response
      description: ResolvedSubject is a single subject resolved within LookupSubjects.
    Result:
      type: string
      enum:
      - RESULT_UNSPECIFIED
      - RESULT_UNEVALUATED
      - RESULT_FALSE
      - RESULT_TRUE
      - RESULT_MISSING_SOME_CONTEXT
      default: RESULT_UNSPECIFIED
    SetOperation:
      type: string
      enum:
      - SET_OPERATION_UNSPECIFIED
      - SET_OPERATION_ADDED
      - SET_OPERATION_REMOVED
      default: SET_OPERATION_UNSPECIFIED
    SetReference:
      type: object
      properties:
        objectType:
          type: string
          title: object_type is the type of object in a permission set
        objectId:
          type: string
          title: object_id is the ID of a permission set
        permissionOrRelation:
          type: string
          title: permission_or_relation is the permission or relation referenced by
            this permission set
    Status:
      type: object
      properties:
        code:
          type: integer
          format: int32
          description: 'The status code, which should be an enum value of

            [google.rpc.Code][google.rpc.Code].'
        message:
          type: string
          description: 'A developer-facing error message, which should be in English.
            Any

            user-facing error message should be localized and sent in the

            [google.rpc.Status.details][google.rpc.Status.details] field, or localized

            by the client.'
        details:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/Any'
          description: 'A list of messages that carry the error details.  There is
            a common set of

            message types for APIs to use.'
      description: 'The `Status` type defines a logical error model that is suitable
        for

        different programming environments, including REST APIs and RPC APIs. It is

        used by [gRPC](https://github.com/grpc). Each `Status` message contains

        three pieces of data: error code, error message, and error details.


        You can find out more about this error model and how to work with it in the

        [API Design Guide](https://cloud.google.com/apis/design/errors).'
    SubProblems:
      type: object
      properties:
        traces:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/CheckDebugTrace'
    SubjectFilter:
      type: object
      properties:
        subjectType:
          type: string
        optionalSubjectId:
          type: string
        optionalRelation:
          $ref: '#/components/schemas/RelationFilter'
      description: 'SubjectFilter specifies a filter on the subject of a relationship.


        subject_type is required and all other fields are optional, and will not

        impose any additional requirements if left unspecified.'
    SubjectReference:
      type: object
      properties:
        object:
          $ref: '#/components/schemas/ObjectReference'
        optionalRelation:
          type: string
      title: 'SubjectReference is used for referring to the subject portion of a

        Relationship. The relation component is optional and is used for defining
        a

        sub-relation on the subject, e.g. group:123#members'
    WatchKind:
      type: string
      enum:
      - WATCH_KIND_UNSPECIFIED
      - WATCH_KIND_INCLUDE_RELATIONSHIP_UPDATES
      - WATCH_KIND_INCLUDE_SCHEMA_UPDATES
      - WATCH_KIND_INCLUDE_CHECKPOINTS
      default: WATCH_KIND_UNSPECIFIED
      title: '- WATCH_KIND_UNSPECIFIED: Default, just relationship updates (for backwards
        compatibility)'
    WatchPermissionSetsResponse:
      type: object
      properties:
        change:
          $ref: '#/components/schemas/PermissionSetChange'
          description: 'change is the permission set delta that has occurred as result
            of a mutation in origin SpiceDB.

            The consumer should apply this change to the current state of the permission
            sets in their target system.

            Once an event arrives with completed_revision instead, the consumer shall
            consider the set of

            changes originating from that revision completed.


            The consumer should keep track of the revision in order to resume streaming
            in the event of consumer restarts.'
        completedRevision:
          $ref: '#/components/schemas/ZedToken'
          title: 'completed_revision is the revision token that indicates the completion
            of a set of changes. It may also be

            received without accompanying set of changes, indicating that a mutation
            in the origin SpiceDB cluster did

            not yield any effective changes in the permission sets'
        lookupPermissionSetsRequired:
          $ref: '#/components/schemas/LookupPermissionSetsRequired'
          description: 'lookup_permission_sets_required is a signal that the consumer
            should perform a LookupPermissionSets call because

            the permission set snapshot needs to be rebuilt from scratch. This typically
            happens when the origin SpiceDB

            cluster has seen its schema changed.'
        breakingSchemaChange:
          $ref: '#/components/schemas/BreakingSchemaChange'
          description: 'breaking_schema_change is a signal that a breaking schema
            change has been written to the origin SpiceDB cluster,

            and that the consumer should expect delays in the ingestion of new changes,

            because the permission set snapshot needs to be rebuilt from scratch.
            Once the snapshot is ready, the consumer

            will receive a LookupPermissionSetsRequired event.'
    WatchPermissionsResponse:
      type: object
      properties:
        change:
          $ref: '#/components/schemas/PermissionChange'
          description: 'change is the computed permission delta that has occurred
            as result of a mutation in origin SpiceDB.

            The consumer should apply this change to the current state of the computed
            permissions in their target system.

            Once an event arrives with completed_revision instead, the consumer shall
            consider there are not more changes

            originating from that revision.


            The consumer should keep track of the revision in order to resume streaming
            in the event of consumer restarts.'
        completedRevision:
          $ref: '#/components/schemas/ZedToken'
          title: 'completed_revision is the revision token that indicates all changes
            originating from a revision have been

            streamed and thus the revision should be considered completed. It may
            also be

            received without accompanying set of changes, indicating that a mutation
            in the origin SpiceDB cluster did

            not yield any effective changes in the computed permissions'
    WatchRequest:
      type: object
      properties:
        optionalObjectTypes:
          type: array
          items:
            type: string
          description: 'optional_object_types is a filter of resource object types
            to watch for relationship changes.

            If specified, only changes to the specified object types will be returned
            and

            optional_relationship_filters cannot be used.'
        optionalStartCursor:
          $ref: '#/components/schemas/ZedToken'
          description: 'optional_start_cursor is the ZedToken holding the point-in-time
            at

            which to start watching for changes.

            If not specified, the watch will start from the current SpiceDB revision
            time of the request ("head revision").

            Note that if this cursor references a point-in-time containing data

            that has been garbage collected, an error will be returned.'
        optionalRelationshipFilters:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/RelationshipFilter'
          description: 'optional_relationship_filters, if specified, indicates the

            filter(s) to apply to each relationship to be returned by watch.

            The relationship will be returned as long as at least one filter matches,

            this allows clients to match relationships on multiple filters on a single
            watch call.

            If specified, optional_object_types cannot be used.'
        optionalUpdateKinds:
          type: array
          items:
            $ref: '#/components/schemas/WatchKind'
          description: 'optional_update_kinds, if specified, indicates what kinds
            of mutations to include.

            If your SpiceDB instance is running behind a proxy that aborts idle connections,

            we recommend including Checkpoints to keep the stream alive even when
            there are no changes.'
      description: 'WatchRequest specifies what mutations to watch for, and an optional
        start point for when to start

        watching.'
    WatchResponse:
      type: object
      properties:
        updates:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/RelationshipUpdate'
          description: 'updates are the RelationshipUpdate events that have occurred
            since the

            call was made, or since the point in time specified by changes_through.'
        changesThrough:
          $ref: '#/components/schemas/ZedToken'
          description: 'changes_through is the ZedToken that represents the point
            in time

            that the watch response is current through. This token can be used

            in a subsequent WatchRequest to resume watching from this point.'
        optionalTransactionMetadata:
          type: object
          description: 'optional_transaction_metadata is an optional field that returns
            the transaction metadata

            given to SpiceDB during the transaction that produced the changes in this
            response.

            This field may not exist if no transaction metadata was provided, or if
            multiple pieces

            of metadata were found during the transaction (in which case it is ambiguous
            which to return).'
        schemaUpdated:
          type: boolean
          description: schema_updated, if true, indicates that the schema was changed
            in this revision.
        isCheckpoint:
          type: boolean
          description: 'is_checkpoint, if true, indicates that a checkpoint was reached.

            A checkpoint indicates that the server guarantees that the client

            will not observe any changes at a revision below or equal to the revision
            in this response.'
        fullRevisionMetadata:
          type: array
          items:
            type: object
          description: 'full_revision_metadata contains all transaction metadata given
            to SpiceDB during the

            revision that produced the changes in this response. Some datastores (such
            as CockroachDB)

            can "merge" multiple transactions into a single revision (if the changes
            occurred concurrently),

            so this field is a list of all transaction metadata seen during the revision.'
      description: 'WatchResponse contains all mutation events in ascending timestamp
        order.

        This excludes relationships that were deleted because they expired.

        The response includes a field that can be used to resume

        watching from that point.'
    WatchedPermission:
      type: object
      properties:
        resourceType:
          type: string
          description: resource_type is the type of the resource to watch for changes.
        permission:
          type: string
          description: permission is the permission to watch for changes.
        subjectType:
          type: string
          description: subject_type is the type of the subject to watch for changes.
        optionalSubjectRelation:
          type: string
          description: optional_subject_relation is the relation on the subject to
            watch for changes.
    WildcardOption:
      type: string
      enum:
      - WILDCARD_OPTION_UNSPECIFIED
      - WILDCARD_OPTION_INCLUDE_WILDCARDS
      - WILDCARD_OPTION_EXCLUDE_WILDCARDS
      default: WILDCARD_OPTION_UNSPECIFIED
    WriteRelationshipsRequest:
      type: object
      properties:
        updates:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/RelationshipUpdate'
        optionalPreconditions:
          type: array
          items:
            type: object
            $ref: '#/components/schemas/Precondition'
          title: To be bounded by configuration
        optionalTransactionMetadata:
          type: object
          description: 'optional_transaction_metadata is an optional field that can
            be used to store metadata about the transaction.

            If specified, this metadata will be supplied in the WatchResponse for
            the updates associated with this

            transaction.'
      description: 'WriteRelationshipsRequest contains a list of Relationship mutations
        that

        should be applied to the service. If the optional_preconditions parameter

        is included, all of the specified preconditions must also be satisfied before

        the write will be committed. All updates will be applied transactionally,

        and if any preconditions fail, the entire transaction will be reverted.'
    WriteRelationshipsResponse:
      type: object
      properties:
        writtenAt:
          $ref: '#/components/schemas/ZedToken'
          description: written_at is the revision at which the relationships were
            written or deleted.
    WriteSchemaRequest:
      type: object
      properties:
        schema:
          type: string
          description: 'The Schema containing one or more Object Definitions that
            will be written

            to the Permissions System.


            4MiB'
      description: 'WriteSchemaRequest is the required data used to "upsert" the Schema
        of a

        Permissions System.'
    WriteSchemaResponse:
      type: object
      properties:
        writtenAt:
          $ref: '#/components/schemas/ZedToken'
          description: written_at is the ZedToken at which the schema was written.
      description: 'WriteSchemaResponse is the resulting data after having written
        a Schema to

        a Permissions System.'
    ZedToken:
      type: object
      properties:
        token:
          type: string
      description: 'ZedToken represents a point in time, or a "revision" in SpiceDB.

        It is used to provide causality metadata between Write and read requests (Check,
        ReadRelationships, LookupResources, LookupSubjects)

        and can also be used to start watching for changes from a specific point in
        time.


        See the authzed.api.v1.Consistency message for more information.'
    v0.Cursor:
      type: object
      properties:
        limit:
          type: integer
          format: int64
          description: limit is the number of permission sets to stream over a single
            LookupPermissionSets call that was requested.
        token:
          $ref: '#/components/schemas/ZedToken'
          description: token is the snapshot revision at which the cursor was computed.
        startingIndex:
          type: integer
          format: int64
          title: starting_index is an offset of the permission set represented by
            this cursor
        completedMembers:
          type: boolean
          title: completed_members is a boolean flag that indicates that the cursor
            has reached the end of the permission sets
        startingKey:
          type: string
          description: starting_key is a string cursor used by some backends to resume
            the stream from a specific point.
        cursor:
          type: string
          description: cursor is a string-encoded internal materialize cursor.
    v1.Cursor:
      type: object
      properties:
        token:
          type: string
      description: 'Cursor is used to provide resumption of listing between calls
        to APIs

        such as LookupResources.'
paths:
  /v1/experimental/countrelationships:
    post:
      operationId: ExperimentalService_ExperimentalCountRelationships
      summary: 'EXPERIMENTAL: CountRelationships returns the count of relationships
        for *pre-registered* filter.'
      tags:
      - Experimental
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentalCountRelationshipsRequest'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentalCountRelationshipsResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/experimental/diffschema:
    post:
      operationId: ExperimentalService_ExperimentalDiffSchema
      summary: 'DEPRECATED: Promoted to DiffSchema in the stable API.'
      tags:
      - Experimental
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExperimentalDiffSchemaRequest'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExperimentalDiffSchemaResponse'
        default:
          description: An unexpected error response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
  /v1/experimental/permissions/bulkcheckpermission:
    post:
      operationId: ExperimentalService_BulkCheckPermission
      summary: 'DEPRECATED: Promoted to CheckBulkPermission in the stable API.'
      tags:
      - Experimental
      security:
      - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BulkCheckPermissionRequest'
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkCheckPermissionResponse'
        default:
[...]
